/**
 * CSS for the admin-specific functionality is 
 * included in this file.
 */
.grayout {
	opacity: .55; 
	transition-duration: .3s;
}

.ui-button-text {
	font-size: 25px;
	padding: 6px;
	padding-right: 0;
}

.admin-meetup-item {
	background-color: #ed1c40; 
	padding: 0; 
   margin: 5px; 
	box-shadow: 4px 4px 5px gray; 
	width: 40%; 
	float: left; 
	border-radius: 20px; 
	margin-bottom: 25px;
}

.visibility-buttons-deck {
	padding: 0px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	height: 25px; 
	text-align: center; 
	margin: 0 auto;
}

#prevSlide {
	margin: 0; 
	margin-right: 50px; 
	padding-top: 120px; 
	font-size: 120px; 
	color: #ed1c40; 
	float: left; 
	width: 4%;
}

#nextSlide {
	margin: 0; 
	margin-right: 50px; 
	padding-top: 120px; 
	font-size: 120px; 
	color: #ed1c40; 
	float: left; 
	width: 4%;
}

.admin-rsvp-card-container { 
	border-radius: 20px; 
/*	background-color: #f20017; */
/* from inkscape logo converted from rgba
	background-color: #ed1c3e;
*/
 	background-color: #ed1c40;
	padding: 0; 
	padding-top: 35px; 
	padding-bottom: 20px; 
	margin-left: 10px;
   width: 62%; 
	max-width: 400px; 
	min-width: 290px; 
	text-align: center; 
}
#shortCode {
	height: 140px; 
	width: 80%; 
	margin: 10px; 
	margin-top: 5px; 
	font-weight: 300; 
	font-size: 28px; 
	color: #ed1c3e;
/*	transition-duration: .5s;*/
}
#shortCode.animation {
	animation: FLASH .3s;
	animation-fill-mode: forwards;

}
@keyframes FLASH {
	from {
		background-color: white;
	}
	to {
		background-color: beige;
	}
}

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	max-width: 400px; 
   min-width: 290px; 
	margin: 0 auto; 
}

#sortable li { 
	margin: 0; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	padding-top: 20px; 
	padding-bottom: 20px;
   font-size: 1.4em; 
	height: 35px; 
	border: 1px solid rgba(0,0,0,.2); 
	text-align: left; 
	cursor: move; 
   position: relative; 
}

#sortable li:hover { 
	background: rgba(242,0,23, .78); 
	color: white; 
}

#sortable li input[type="checkbox"] { 
	margin: 0; 
	padding: 0; 
	margin-right: 20px; 
	float: right; 
}

#sortable li input[type="text"] { 
	margin-left: 80px; 
	position: absolute;  
}

.admin-rsvp-card-title { 
	color: gray; 
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
}

.admin-rsvp-card-eyes { 
	padding: 0px; 
	font-size: 35px; 
	text-align: center; 
	margin: 0 auto; 
   color: gray; 
	float: right; 
	margin-right: 30px; 
} 

.rsvp-fields-make-invisible { 
	display: block 
}

.rsvp-fields-make-visible { 
	display: none 
}

.highLight {
	background-color: beige;
	transition-duration: .3s;
}
