/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.grayout {
	opacity: .45;
	transition-duration: .5s;
}

.ui-button-text {
	font-size: 25px;
	padding: 6px;
	padding-right: 0;
}
